<!-- controlled by backbone view -->
<div id="animalView">
  <h1>Welcome to the Zoo</h1>
  <ul id="animals"></ul>
  <p class="show">Show Form</p>
  <input type="text" placeholder="name">
  <button id="new-animal">Create Animal</button>
</div>