<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pokemon Love</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <img src="/pokemon.png" />
  </header>
  <%= yield %>
</body>
</html>